*, *:before, *:after {
    box-sizing: border-box;
}
* {
    transition: 1s ease;
}
html {
    background-color: lightgray;
}
.grid {
    display: block;
    font-size: 0;
    text-align: justify;
    margin: 0 auto;
}
.grid:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.grid > * {
    display: inline-block;
    width: 100%;
    font-size: medium;
    vertical-align: top;
    text-align: left;
    border: 1px solid gray;
    font-family: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    background-color: white;
    color: black;
}
@media (min-width: 800px) {
    .grid-3-800 > * {
        width: 30%;
    }
}
img {
    max-width: 100%;
}
a:hover {
    background-color: #27CFC3;
}
a:visited {
    color: red;
}
a:visited:hover {
    background-color: #27CFC3;
}
a:active {
    color: cyan;
}
h5 {
    font-size: 20px;
}
p {
    font-size: 15px;
}
span {
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.navBar {
    color: black;
    font-size: 25px;
}
.navBar a:visited {
    color: black;
}
.navContainer {
    border: 1px solid gray;
    max-width: 100%;
    background-color: darkgray;
}
